<tbody class="body-wrapper">
  <tr class="body">
    <td>
      <h2>Thanks for connecting, <%= @firstname %>!</h2>
      <h4>We have sent your information to <%= @organization %> regarding your interest in volunteering with <%= @opportunity %>.  Someone from <%= @organization %> should contact you soon!</h4>
      <p>best,</p>
      <p>UWCCAspires</p>

    </td>
  </tr>
</tbody>
