<tbody class="body-wrapper">
  <tr class="body">
    <td>
      <h2>Thanks for connecting, <%= @firstname %>!</h2>
      <p>We have sent your information to <%= @organization %> regarding your interest in volunteering with the <%= @opportunity %>.  Someone from <%= @organization %> should contact you soon!</p>
    </td>
  </tr>
</tbody>
