// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$skinActiveColor: #3498db;
$skinHeaderBck: #1854A2;
$panelHeaderBck: #1854A2;
$skinActiveColor: #f1f5f6;
$skinTextActiveColor: #000000;
$skinLogo: url(asset-path("uwcc.png")) no-repeat 0 0;

@import "active_skin";

#header {
  background-color: $skinHeaderBck;
  a, a:link {
    color: #ffffff;
  }
  #utility_nav {
    background: $skinHeaderBck;
    li a {
      color: #ffffff;
    }
    li:hover {
    color: $skinTextActiveColor;
    background: $skinActiveColor;
    }
  }
}


#title_bar {
  background: $skinHeaderBck;
  .action_items span.action_item
    & > a, & > .dropdown_menu > a {
    &:hover {

    }
  }
}

#title_bar .action_items span.action_item > a {
  color: #000000;
}

form .inline-hints img {
  max-width: 160px;
  height: auto;
}

form input[type=submit],
a.button,
a:link.button,
a:visited.button {
  color: #000000;
  border: 1px solid #d3d8dc
}